@font-face {
  font-family: 'Uthman';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/UthmanTN.otf");
}

@font-face {
  font-family: 'Uthman';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/UthmanTNB.otf");
}

.rtl {
  direction: rtl;
}

.uthman {
  font-family: 'Uthman';
}

.uthman-bold {
  font-family: 'Uthman';
  font-weight: bold;
}

.bar-jade {
  background-color: #6d9850;
  color: #e2ebdc;
  border-top: 1px solid #75a356;
  border-bottom: 1px solid #608f40;
  box-shadow: 0 1px 1px 1px rgba(200,200,200,.5);
}

.bar-jade button,
.bar-jade button:hover,
.bar-jade .title {
  color: #e2ebdc;
}

.bar-jade h1 {
  font-family: 'Uthman';
  font-weight: bold;
}

.bar-gray {
  padding: 0;
  background-color: #efefef;
  color: #7d7d7d;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #666666;
  box-shadow: 0 -1px 1px 1px #dfdfdf;
}

.bar-gray .button,
.bar-gray .button:hover,
.bar-gray .title {
  color: #7d7d7d;
}

.bar-gray .button-bar .button {
  padding: 4px 16px;
}

.lang-buttons {
  position: relative;
}

.lang-buttons div {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  z-index:999;
}

.bar-green {
    background-color: rgba(90, 170, 36, 0.3)
}
/*
  Left Menu
*/

a.item-content span:before {
  font-size: 30px;
  padding-right: 10px;
}

.menu-left {
  background-color: #eee;
}

.menu-left .item {
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}

.menu-left .item:first-child {
  border-top: 0;
}

.menu-left .item:last-child {
  border-bottom: 0;
}

.menu-left .item a {
  background-color: #eee;  
  color: #2a2a2a;
  font-weight: bold;
}

.menu-left .chosen-item {
  display: block;
  font-size: .7em;
  color: #6d9850;
  margin-top: -5px;
}

.menu-left .chosen-item:before {
  position: relative;
  top: 6px;
  padding-right: 5px;
}


/*
  Sura Page
*/

.sub-header {
  height: 80px;
}

.ion-information:before {
  font-size: 25px !important;
}

.sura-content {
  padding: 1.25em;
  text-align: justify;
  font-size: 1.20em;
  line-height: 2.35;
}

.ayaid {
  font-size: .8em;
}

.nightly,
.nightly .bismillah {
  background-color: #000;
  color: #FFF;
}

.ayaids {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  text-align: center;
}

.ayaids span {
  display: inline-block;
  padding: .4em;
  border-radius: 3px 3px 0 0;
  color: #fff;
  background-color: rgba(0,0,0,.3);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

.ayaids span.light {
  background-color: rgba(200,200,200,0.5);
}

.bar-subfooter.settings {
  background-color: #efefef;
  bottom: 45px;
  height: 102px;
  z-index: 999;
  width: 280px;
  margin: 0 auto;
  border-radius: 2px;
}

.settings .item-toggle {
  margin: 0;
}

.settings .item-toggle.activated {  
  background-color: #fff;
}

.settings .toggle input:checked+.track {
  background-color: #75a356;
  border-color: #75a356;
}

/*
  Index page
*/

.index-options {
  background-color: #e5e5e5;
  border-bottom: 2px solid #CCC;
}

.index-options .item-input,
.index-options .item-input input {
  height: auto;
}

.index-content,
.bookmark-content {
  margin-top: 3em;
  padding: .6em;
  background-color: #e5e5e5;
}

.sura-item {
  width: 100%;
  border: 0;
  border-left: 4px solid #6d9850;
  border-radius: .1em;
  border-bottom: 2px solid #CCC;
}

.bookmark-content .sura-item {
  margin: 8px auto 0;
}

.sura-item .name {
  color: #2a2a2a;
}

.sura-item .engname {
  color: #ababab;
}

.sura-item .transname {
  color: #6d9850;
}

.sura-item .id,
.sura-item .type {
  position: absolute;
  right: 16px;
}

.sura-item .id {
  top: 20px;
  color: #6d9850;
}

.sura-item .type {
  bottom: 20px;
  color: #6d9850;
}

/*
  Reciter Page
*/

.reciter-content {
  margin-top: 3.2em;
}

.radio-icon {
  color: #6d9850;
}

/*
  Translation Page
*/

.translation-content {
  margin-top: 3.2em;
}

.translation-content .country {
  margin: .5em 0;
}

.mybutton {
  display: block;
  appearance: none;
  background-color: transparent;
  border: 1px solid #6d9850;
  color: #6d9850;
  font-size: 1.1em;
  padding: .1em 0.4em;
  text-decoration: none;
}

.mybutton:before {
  margin-right: .5em;
}

.bookmark-content .mybutton.remove {
  float: left;
  margin-top: 12px;
  background-color: #ef4e3a;
  color: #fff;
  border-color: #cc2311;
}

.bookmark-content .mybutton.navigate {
  float: right;
  margin-top: 12px;
  padding-top: 5px;
  padding-bottom: 4px;

  border-color: #75a356;
  background-color: #6d9850;
  color: #fff;
}

.bookmark-content .preview {
  margin: .5em 0;
}

.bookmark-content .preview p {
  margin: .5em auto;
}