<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs.TypeScript.DefinitelyTyped" version="2.2.5" targetFramework="win" />
  <package id="cordova.TypeScript.DefinitelyTyped" version="0.8.3" targetFramework="win" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="1.4.1" targetFramework="win" />
  <package id="localForage.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="win" />
  <package id="underscore.TypeScript.DefinitelyTyped" version="0.4.9" targetFramework="win" />
</packages>