<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-jade nav-title-slide-ios7" hide-back-button="true"></ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">    
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close href="#/main/sura/">
          <span class="icon-left ion-home">Home</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/main/index">        
          <!-- <span class="icon-left ion-android-book">Chapters (Suras)</span> -->
          <span class="icon-left ion-ios7-paper">Chapters (Suras)</span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/main/reciter">
          <span class="icon-left ion-ios7-mic">Recitation</span>                              
        </ion-item>
          <ion-item nav-clear menu-close href="#/main/translator">
            <span class="icon-left ion-ios7-world">Translation</span>          
        </ion-item>
        <ion-item nav-clear menu-close href="#/main/bookmark">
          <span class="icon-left ion-star">Bookmark</span>          
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>