        <ion-view title="Index">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-content class="has-header">

                <div class="list">
                    
                      <a class="item my-item"
                        collection-repeat="s in vm.suras"
                        collection-item-height="150"
                        collection-item-width="100 + '%'"
                        style="width:100%"
                           href="#/main/home/{{s.id}}"
                           >
                          <div class="row">
                                <div class="col col-50 text-left"><h4>{{s.id}}</h4></div>
                                <div class="col col-50 text-right"><h4>{{s.transName}}</h4></div>
                            </div>
                            <div class="row">
                                <div class="col text-center"><h1><strong>{{s.name}}</strong></h1></div>
                            </div>
                            <div class="row">
                                <div class="col col-50 text-left"><h4>{{s.engName}}</h4></div>
                                <div class="col col-50 text-right"><h4>{{s.type}}</h4></div>
                            </div>
                          </a>
                </div>
            </ion-content>
        </ion-view>
