        <ion-view title="{{vm.suraID}}-{{vm.selectedSura.name}}">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>

            <ion-content class="has-header " delegate-handle="mainScroll" ng-class="{true: 'nightly'}[isNightly]">
                            
                <div class="uthman-bold sura-content">
                <h4 class="uthman-bold padding text-center bismillah" ng-show="vm.hasBismillah">بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ</h4>

                    <div>

                        <span id="{{s.ayaID}}"  ng-click="vm.slideTo('{{s.ayaID}}')" ng-repeat="s in vm.selectedSura.ayas">
                          <span ng-if="vm.displayContentType==='arabic'">
                            {{s.arabic}} <span class="positive ayaid">﴿{{s.ayaID}}﴾</span> 
                          </span>
                          <span ng-if="vm.displayContentType==='translation'"> 
                            <span class="positive ayaid">﴾{{s.ayaID}}﴿</span>  {{s.translation}} 
                          </span>
                         
                            
                        </span>
                    </div>
                </div>
            
            </ion-content>
            <div class="bar bar-subfooter" ng-show="showSubFooter">
                <div class="button-bar">
                    <button class="button" ng-click="vm.displayContent('arabic'); showSubFooter = !showSubFooter">Arabic</button>
                    <button class="button" ng-click="vm.displayContent('translation'); showSubFooter = !showSubFooter">English</button>                        
                </div>
            </div>
            <ion-footer-bar class="bar-gray">
                <div class="button-bar">
                    <button class="button button-icon icon ion-ios7-fastforward" ng-click="vm.play()"></button>
                    <button class="button button-icon icon ion-ios7-world lang-buttons" ng-click="showSubFooter = !showSubFooter"></button>
                    <button class="button button-icon icon ion-contrast" ng-click="isNightly = !isNightly"></button>
                    
                    <!-- <button ng-click="vm.slideTo('95')" class="button">select aya</button> -->
                    <!-- <button ng-click="vm.play()" class="button">Play - {{vm.selectedSura.selectedAyaID}}</button> -->
                    <!-- <button ng-click="vm.displayContent('arabic')" class="button">Arabic</button>
                    <button ng-click="vm.displayContent('translation')" class="button">Translation</button> -->
                </div>
            </ion-footer-bar>
        </ion-view>


