        <ion-view title="Main Page">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <button ng-click="vm.slideTo('95')" class="button">select aya</button>
                <button ng-click="vm.play()" class="button">Play - {{vm.selectedSura.selectedAyaID}}</button>
                <button ng-click="vm.displayContent('arabic')" class="button">Arabic</button>
                <button ng-click="vm.displayContent('translation')" class="button">Translation</button>
            </ion-nav-buttons>
            <ion-content class="has-header" delegate-handle="mainScroll">
                
                <div>Sura ID = {{vm.suraID}}</div>
                
                <div style="padding:20px 20px 20px 20px;text-align: justify; font-size: 1.15em; font-weight: normal;">
                <h4 class="padding text-center" ng-show="vm.hasBismillah">بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ</h4>
                    <div style="line-height: 2.35em;">
                        <span id="{{s.ayaID}}"  ng-click="vm.slideTo('{{s.ayaID}}')" ng-repeat="s in vm.selectedSura.ayas">
                          <span ng-if="vm.displayContentType==='arabic'">
                            {{s.arabic}} <span class="positive" style="font-size: .80em;">﴿{{s.ayaID}}﴾</span> 
                          </span>
                          <span ng-if="vm.displayContentType==='translation'"> 
                            <span class="positive" style="font-size: .80em;">﴾{{s.ayaID}}﴿</span>  {{s.translation}} 
                          </span>
                         
                            
                        </span>
                    </div>
                </div>
            
            </ion-content>
        </ion-view>


