        <ion-view title="Index">

            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>

            <div class="bar bar-subheader index-options">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" ng-model="filterList">
                </label>
            </div>
            <ion-content class="has-header index-content">

                <div class="list">
                    
                    <a class="item my-item sura-item"
                        collection-repeat="s in vm.suras |filter: filterList"
                        collection-item-height="135"
                        collection-item-width="100 + '%'"
                           href="#/main/sura/{{s.id}}">
                        <h1 class="uthman-bold name">{{s.name}}</h1>
                        <h3 class="uthman-bold engname">{{s.engName}}</h3>
                        <h3 class="uthman transname">{{s.transName}}</h3>  
                        <h4 class="id text-right">{{s.id}}</h4>
                        <h4 class="type text-right">{{s.type}}</h4>                                
                    </a>
                </div>
            </ion-content>
        </ion-view>
