        <ion-view title="Translation" class="bar-frosted">
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            </ion-nav-buttons>
            <ion-content class="has-header">
                <div class="item item-divider">
                    Selected Value: {{ vm.selectedTranslator }}
              </div>
                <button ng-click="vm.downloadFile()">Download file</button> <hr /><button ng-click="vm.readFile()">Read</button>
              <ion-radio collection-repeat="r in vm.translators" collection-item-width="'100%'" collection-item-height="100"  ng-value="r.name" ng-model="vm.selectedTranslator" ng-change="vm.setTranslator(r)"  >
                
                <h2>{{ r.fname }}</h2>
                <h4><img ng-src="{{ r.imgUrl }}">   {{ r.lang }}</h4>
                <button class="pull-right" ng-disabled="false" ng-click="vm.downloadFile()">Download</button>
              </ion-radio>
                
            </ion-content>
        </ion-view>


